libraries
!inst/libraries
.giternal.yml
makefile
.DS_Store
.cache/
*.Rproj
*.ico
bootswatch
inst/README.md
inst/examples
*.Rhistory
archives

libraries/frameworks/deckjs

libraries/frameworks/revealjs

libraries/widgets/nvd3

libraries/frameworks/dzslides

libraries/frameworks/impressjs

libraries/frameworks/io2012

libraries/frameworks/landslide

libraries/frameworks/showoff

libraries/widgets/scianimator

libraries/widgets/quiz

libraries/frameworks/fathomjs

libraries/widgets/quiz2

libraries/widgets/ace
.Rproj.user

libraries/frameworks/flowtime

libraries/frameworks/bespoke

libraries/widgets/morrisjs
