<!doctype html>
<html lang="en">
<head>
  {{> head }}
  {{{ page.stylesheets }}}
</head>
<body>
  <div class="reveal">
    <div class="slides">
      {{{ page.content }}}
    </div>
  </div>
</body>
  <script src="{{page.url.framework}}/lib/js/head.min.js"></script>
  <script src="{{page.url.framework}}/js/reveal.min.js"></script>
  <script>
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: false,
        theme: Reveal.getQueryHash().theme, 
        transition: '{{page.revealjs.transition}}', 
      });
  </script>
  {{> javascripts }}
</html>
